mat-card {
  width: calc(100% - 70px) !important;
  height: calc(100% - 70px) !important;
  background-color: rgba(223, 212, 204, 0.966);
}

.w-100 {
  width: 100%;
}

.w-100-cscore {
  width: fit-content;
  height: fit-content;
}
.th-center {
  text-align: center;
}

.td-center {
  text-align: center;
}

.mat-row:nth-child(even) {
  background-color: lightgray;
}

.mat-row:nth-child(odd) {
  background-color: gainsboro;
}

.mat-header-row {
  background-color: brown;
}

.mat-cell {
  color: black;
  font-size: 17px;
}

.mat-header-cell {
  font-size: 20px;
}